{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'js/graficos.js'%}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <title>Cotações - Dólar</title>
  </head>
  <body>
    <h1>Cotações do Dólar</h1>
    <div class="container">
      <div class="container-botoes">
        <form method="'post" id="cotacaoReal" action="/obterCotacaoReal">
          <button class="botao-cotacao" type="button" id="botaoReal">
            Dólar x Real
          </button>
        </form>

        <form method="'post" id="cotacaoEuro" action="/obterCotacaoEuro">
          <button class="botao-cotacao" type="button" id="botaoEuro">
            Dólar x Euro
          </button>
        </form>

        <form method="'post" id="cotacaoIene" action="/obterCotacaoIene">
          <button class="botao-cotacao" type="button" id="botaoIene">
            Dólar x Iene
          </button>
        </form>
      </div>
      <div id="graficos-container"></div>
    </div>
  </body>
</html>
