{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="{% static 'js/graficos.js'%}" type="module"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt-BR.min.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css"
      rel="stylesheet"
    />

    <title>Cotações - Dólar</title>
  </head>
  <body>
    <h1>Cotações do Dólar</h1>
    <div class="container">
      <div class="container-datas">
        <div class="datepicker-container">
          <p>
            Data Inicio:
            <input id="data-inicio" type="text" />
          </p>
          <div id="datepicker-dropbox-inicio" class="datepicker-dropbox"></div>
        </div>

        <div class="datepicker-container">
          <p>
            Data Final:
            <input id="data-fim" type="text" />
          </p>
          <div id="datepicker-dropbox-fim" class="datepicker-dropbox"></div>
        </div>
      </div>
      <div class="container-botoes">
        <button class="botao-cotacao" type="button" id="botaoReal">
          Dólar x Real
        </button>

        <button class="botao-cotacao" type="button" id="botaoEuro">
          Dólar x Euro
        </button>

        <button class="botao-cotacao" type="button" id="botaoIene">
          Dólar x Iene
        </button>
      </div>
      <h3 id="saida-erros"></h3>
      <div id="graficos-container"></div>
    </div>
  </body>
</html>
